1 VERSIONINFO 
FILEVERSION     5,0,1,0 
PRODUCTVERSION  5,0,1,0 
BEGIN 
  BLOCK "StringFileInfo" 
  BEGIN 
    BLOCK "080904E4" 
    BEGIN 
      VALUE "FileDescription", "MAX! Home Automation" 
      VALUE "FileVersion", "5.0.1.0" 
      VALUE "InternalName", "max_home_automation" 
      VALUE "LegalCopyright", "Dmitry A. Kazakov" 
      VALUE "OriginalFilename", "max_home_automation.exe" 
      VALUE "ProductName", "MAX! Home Automation" 
      VALUE "ProductVersion", "5.0.1.0" 
    END 
  END 
  BLOCK "VarFileInfo" 
  BEGIN 
    VALUE "Translation", 0x809, 1252 
  END 
END 
2 ICON "max_home_automation.ico" 
